# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True

# Database Settings
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=arzuma_db
DATABASE_USER=arzuma_user
DATABASE_PASSWORD=arzuma_password
DATABASE_HOST=postgres
DATABASE_PORT=5432

# Static and Media Files
STATIC_URL=/static/
MEDIA_URL=/media/

# Stripe Configuration
STRIPE_SECRET_KEY=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
STRIPE_PUBLISHABLE_KEY=pk_live_51R7qhTAl6R6EkGyl6rptKKFU44OifcxiRRrPrMIsZZW01GvJ1xeswoDK40QxnVT9Ahse08SGuutnAGulExiznnty00TuCVcxAW
STRIPE_WEBHOOK_SECRET=whsec_eef6905f603edd1a6a99a984c7fd32f6558c2b344aeac58540b75c84f35c6ebc 
# Frontend URL
FRONTEND_URL=http://localhost:3000 